/* body {
    background: blue;
} */

.progress-bar {
    width: 100% !important;
    background-color: #f3f3f3 !important;
    height: 30px !important;
}

.progress {
    height: 100% !important;
    background-color: #4CAF50 !important;
}



.parallax {
    /* The image used */
    background-image: url("/parallax.jpg");

    /* Set a specific height and width */
    height: 100%; /* This will cover the full height of the document */
    width: 100%; /* This will cover the full width of the viewport */

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;

    /* Position the parallax element */
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; /* This will place the parallax element behind your content */
}



.content {
    background: var(--theme);
    padding: 20px;
    /* display: flex; */
    justify-content: space-between;
}

.header {
    height: 70px; /* Passen Sie diese Zahl an Ihre Bedürfnisse an */
    background: var(--theme);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.footer {
    bottom: 0;
    
    width: 100%;
    height: 70px; /* Passen Sie diese Zahl an Ihre Bedürfnisse an */
    background: var(--theme);
    display: flex;
    justify-content: center;
    align-items: center;
    /* Rest of your footer styles */
}


.main {
    position: static;
    width: 100%;
    
}


.text, .image {
    width: 45%; /* Passen Sie diese Zahl an Ihre Bedürfnisse an */
}