<!DOCTYPE html>
<html lang="{{ or site.Language.LanguageCode site.Language.Lang }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
  {{ $styles := resources.Get "css/main.css" | toCSS | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $styles.Permalink }}" integrity="{{ $styles.Data.Integrity }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>{{ if .Title }}{{ .Title }}{{ else }}{{ .Site.Title }}{{ end }}</title>

</head>
<body>
  <header>
    {{ partial "header.html" . }}
  </header>
  <main>
    <div class="parallax"></div>
    <div class="content">
        {{- block "main" . }}{{ end }}
        
        {{ if .Params.tags }}
        <div class="tags">
          {{ range .Params.tags }}
            <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}" class="tag">{{ . }}</a>
          {{ end }}
        </div>
      {{ end }}
  </main>
  <footer>
    {{ partial "footer.html" . }}
  </footer>
  <script>
    function myFunction() {
      var x = document.getElementById("myTopnav");
      if (x.className === "topnav") {
        x.className += " responsive";
      } else {
        x.className = "topnav";
      }
    }
    </script>
</body>
</html>
